@import "frame.scss";


.container, header {
  background-color: rgb(113, 156, 238);
}

footer {
  background-color: rgb(238, 217, 178);
}

 .grid {
   align-items: center;
 }


section {
  margin: 0px auto;
  background-color: rgba(230, 222, 221, 0.4);
  width: 60%;
  height:70%;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 12px 0px rgba(135,135,143,1);


  figure {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: 30px auto;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 300px;
      height: auto;
      border-radius: 25px;
    }

    .pic-border {
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #eed04d;
      background-color: wheat;;
      border-radius: 25px;
      box-shadow: 5px 5px 21px 0px rgba(242,169,126,1);
    }
  }

  article {
    margin: 0px auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 80%;
    height:40%;  
  }
  
}

@media screen and (max-width: 550px) {
   .grid {
     grid-template-rows: 0.2fr 1fr 1.5fr 0.2fr;
     align-items: center;
   }
  section {
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1fr;
    align-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;

    figure {
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      .pic-border {
        height: 80%;
        width: 70%;

        img {
          width: auto ;
          max-width: 60% ;
          height: auto ;
        }
      }
    }

    article {
      margin: 0px auto;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-top: 10px;
      text-align: center;

      p {
        font-size: 13px;
        text-align: start;
      }
    }

  }

}