@import "frame.scss";


header, .container {
  background-color: rgb(113, 156, 238);
}

 footer {
   background-color: white;
 }


section {
  margin: 0px auto;
  background-color: rgba(230, 222, 221, 0.4);
  width: 80%;
  height:100%;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;

  figure {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: 30px auto;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 70%;
      height: auto;
      border-radius: 25px;
    }

    .border {
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #eed04d;
      background-color: wheat;;
      border-radius: 25px;
    }
  }

  article {
    margin: 0px auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 80%;
    height:40%;  
  }
  
}