@import "frame.scss";

.container, header, footer{
  background-color: skyblue;
}


.grid {
  grid-template-columns: 1fr 1fr;
  
}

section {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  }

  .detail {
    display: flex;
    flex-direction: column;
    margin-top: 20px 
  }
  label {
    margin-top: 10px;
    margin-bottom: 3px;
    color: #0b316b;
    font-weight: bold;
  }

  input {
    width:330px;
    height: 1.5em;
  }
  

  a {
    text-decoration: none;
    color: rgb(38, 74, 141);
    text-decoration: underline;
  }
}

  figure {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
  }


#map {
      height: 80%;
      width: 100%;
}

footer {
  grid-column: 1 / 3;
}

@media screen and (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.6fr 1fr 0.3fr;
    align-items: flex-start;
    justify-items: center;

  }

  section {
    font-size: 10px;
    width: 70%;
    height: 80%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
   
   form {
     width: 90%;
     height: 80%;

     input, #comment {
       width: 90%;
     }
    }
  }
  
  figure {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    justify-content: center;
    align-items: flex-start;

    #map {
      height: 90%;
      width: 90%;
    }
  }


  footer a {
  font-size: 15px;
  }
  
}