@import "frame.scss";


.container{
  background: conic-gradient(from 0.25turn at 30% 15%, #f69d3c, 10deg, #3f87a6, 350deg, #ebf8e1);
}


.grid {
  grid-template-columns: 1fr 1fr;  
}
header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  background-color: transparent;
}

section {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

    .detail {
      display: flex;
      flex-direction: column;
      margin-top: 20px 
    }
    label {
      margin-top: 10px;
      margin-bottom: 3px;
      color: #0b316b;
      font-weight: bold;
    }

    input {
      width:350px;
      height: 2em;
      box-shadow: 2px 2px 5px 0px rgba(41,69,227,1);
    }

    .comment {
       display: flex;
       flex-direction: column;
       margin: 0px auto;

      #comment {
        padding: 1px;
        box-shadow: 2px 2px 5px 0px rgba(41,69,227,1);
        width: 350px;
        height: 150px;
      }
    }  
  }

  a {
    text-decoration: none;
    color: rgba(41,69,227,1);
    text-decoration: underline;
  }
}

  figure {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
  }


  #map {
    height: 80%;
    width: 100%;
    box-shadow: 5px 5px 12px 0px rgba(135,135,143,1);
  }

footer {
  grid-column: 1 / 3;
  background-color: transparent;
  a {
    color: rgb(255, 145, 0);
  }
}

@media screen and (max-width: 550px) {

  .container{
    background: conic-gradient(from 0.25turn at 30% 10%, #f69d3c, 10deg, #3f87a6, 350deg, #ebf8e1);
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.15fr;
    align-items: center;
    justify-items: center;

  }

  section {
    font-size: 10px;
    width: 70%;
    height: 80%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-items: flex-start;
    justify-items: center;
    
    .contact-detail{
      display: flex;
      flex-direction: column;
      margin: 0px auto;
      font-size: 15px;
    }
   
   form {
     width: 100%;
     height: 90%;
     font-size: 15px;

     .detail {
       margin: 0px auto;
     }

  
     input {
       width: 200px;
     }

     .comment #comment {
       width: 200px;
       height: 100px;
     }
    }
  }
  
  figure {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    justify-content: center;
    align-content: flex-start;

    #map {
      height: 90%;
      width: 90%;
    }
  }
}

@media screen and (max-width: 350px) {

  .grid {
    align-items: flex-start;
    justify-content: center;
  }

  input {
       width: 50px;
     }

  #map {
    height: 20%;
    width: 80%;
  }

}

