@import "frame.scss";

.container {
  background-color: skyblue;
}

.grid {
  grid-template-rows: 1fr 1fr 2fr 0.6fr;
  grid-template-columns: 1fr 1fr;
}

section {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  }

  .detail {
    display: flex;
    flex-direction: column;
    margin-top: 20px 
  }
  label {
    margin-top: 10px;
    margin-bottom: 3px;
    color: #354cca;
    font-weight: bold;
  }

  input {
    width:330px;
    height: 1.5em;
  }
  #comments-label {
    margin-right: 270px;
  }

  a {
    text-decoration: none;
    color: white;
    text-decoration: underline;
  }
}

  figure {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    width: 80%;
    height: 100%;
  }


#map {
      height: 80%;
      width: 100%;
}
footer {
  grid-column: 1 / 3;
}