body {
  margin: 0px;
  overflow-x: hidden; 
  overflow-y: hidden;
}

.container {
  width: 100vw;
  height:100vh;
  background-color: #5c8eeb; 
}

.grid {
  width: 100%;
  height:100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 0.5fr 0.2fr;
  align-items: flex-end;
}

header {
  width: 100%;
  height:100%;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: rgba(255, 192, 203, 0.8);
  
  img {
    margin: 20px;
    width: 150px;
    height: auto;
    position: fixed;
  }
}

footer {
  width: 100%;
  height:100%;
  background-color: white;
  grid-row: 4 / 5;
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .other-links {
      margin-left: 30px;
      img {
        width: 60px;
        height: auto;
        margin-right: 30px;
      }
    }
  

  .portfolio-link a {
    text-decoration: none;
    color:rgb(19, 97, 77);
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;  
  }
}



@media screen and (max-width: 550px) {

  header img {
    margin: 20px;
    width: 80px;
    height: auto;
    position: fixed;
  }
  footer {
    .other-links {
      margin-left: 10px;
        img {
          display: inline-block;
          width: 25px;
          height: auto;
          margin-right: 10px;
        }
    }

    .portfolio-link a {
        font-size: 13px;
        margin-right: 13px;
    }
}
}
