@import url("https://fonts.googleapis.com/css2?family=Quicksand+Baloo+Da+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota:ital@1&display=swap");
body {
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden; }

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.grid {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.5fr 0.2fr;
  justify-items: center;
  align-items: center;
  background-color: #747474; }

header {
  width: 100%;
  height: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  font-family: 'Bellota', cursive; }
  header #portfolio-link {
    display: none; }
  header #portfolio-link a {
    text-decoration: none;
    color: #918d8a;
    font-size: 20px;
    margin-right: 30px; }
  header a.icon {
    text-decoration: none;
    float: right;
    display: flex;
    align-items: center; }
  header i {
    margin-right: 10px;
    color: #747474; }
  header #portfolio-link a:hover {
    color: #575656; }

section {
  width: 80%;
  height: 100%;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center; }
  section .intro {
    width: 80%;
    height: 70%;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: "Oswald", sans-serif; }
    section .intro h3 {
      letter-spacing: 5px;
      margin-bottom: 50px;
      font-weight: normal; }
    section .intro #name {
      margin-top: 50px; }
    section .intro p {
      letter-spacing: 3px;
      font-size: 20px; }

span {
  text-transform: uppercase;
  font: 60px "Oswald", sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(https://s3.amazonaws.com/f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  animation: title_animation 80s steps(10000) infinite;
  -webkit-animation: title_animation 80s linear infinite;
  -webkit-text-fill-color: transparent;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

@keyframes title_animation {
  0% {
    background-position: 0% 100%; }
  100% {
    background-position: 100% 50%; } }
@-webkit-keyframes title_animation {
  0% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }
@-moz-keyframes title_animation {
  0% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }
footer {
  width: 100%;
  height: 100%;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background-color: white; }

@media screen and (max-width: 600px) {
  .grid {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.1fr 1.3fr 0.2fr;
    justify-items: center; }

  header {
    justify-content: space-evenly; }
    header #portfolio-link a {
      font-size: 15px;
      margin-right: 10px; }

  section {
    align-items: flex-end;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    align-items: center; }
    section .intro {
      width: 90%;
      height: 100%;
      justify-items: center; }
      section .intro h3 {
        font-size: 18px;
        font-weight: normal; }
      section .intro span {
        font-size: 35px;
        text-align: center; }
      section .intro p {
        letter-spacing: 1px;
        font-size: 13px;
        text-align: center; }

  footer {
    width: 100%;
    height: 100%;
    background-color: transparent;
    grid-row: 4 / 5;
    grid-column: 1 / 2; } }

/*# sourceMappingURL=home.css.map */
