@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');


body {
  margin: 0px;
  overflow-x: hidden; 
  overflow-y: hidden;
}

.container {
  width: 100vw;
  height:100vh;
  background: conic-gradient(from 0.25turn at 10% 82%, wheat, 40deg, lightgrey, 350deg, snow);
}

.grid {
  width: 100%;
  height:100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 0.2fr;
  justify-items: center;
  align-items: center;
}

header {
  width: 100%;
  height:100%;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  
  img {
    margin: 20px;
    width: 150px;
    height: auto;
    position: fixed;
    box-shadow: 5px 5px 5px 0px rgba(106,172,176,1);
  }
}


section {
  width: 550px;
  height: 550px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display:flex;
  align-items: center;
  justify-items: center;

  .intro {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(194, 168, 236, 0.466);
    border-radius: 400px;
    color: white;
    text-shadow:2px 2px rgb(245, 125, 13);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Baloo Da 2', cursive;
    text-align: center;
      p {
        font-size: 20px;
      }
    
  }
  
}

figure {
  width: 100%;
  height: 100%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  .position-1{
    height: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: 0px auto;
    display: flex;
    align-items: flex-end;

    #hysys {
      width:300px;
      height: auto;
      transform: rotate(90deg);
      margin-left: 10%;
      margin-bottom: 0px;
    }
   }
   .position-2 {
     grid-row: 2 / 3;
     grid-column: 1 / 2;
     display: flex;
     align-items: flex-start;
     
     
     #terminal-app {
       width:500px;
       height: auto;

    }
   }
 }

footer {
  width: 100%;
  height: 100%;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Baloo Da 2', cursive;

    .other-links {
      margin-left: 30px;
      img {
        width: 60px;
        height: auto;
        margin-right: 30px;
        background-color: rgb(236, 226, 206);
        border-radius: 7px;
      }
    }

    .other-links img:hover {
      background-color: rgba(137, 144, 151, 0.664);
    }

    .portfolio-link a {
      text-decoration: none;
      color:rgb(137, 212, 162);
      text-shadow: 1px 1px rgb(30, 85, 42);
      font-size: 25px;
      font-weight: bold;
      margin-right: 30px;  
    }

    .portfolio-link a:hover {
      color: rgba(137, 144, 151, 0.664);
    }
}

@media screen and (max-width: 1000px) {
  
  section {
    width: 350px;
    height: 350px;
    .intro {
      #name {
        margin-bottom: 0px;
      }
      #title {
        font-size: 22px;
      }
      p {
        font-size: 15px;
      }  
    }

  }

    figure .position-1 #hysys {
      width: 150px;
    }
    figure .position-2 #terminal-app {
      width: 250px;
    }
  

 footer {
    .other-links {
      margin-left: 10px;
        img {
          display: inline-block;
          width: 20px;
          height: auto;
          margin-right: 10px;
        }
    }

    .portfolio-link a {
        font-size: 18px;
        margin-right: 10px;
    }
  }
      

}

@media screen and (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1.5fr 0.2fr;
    justify-items: center;
  }
      
  section {
    align-items: flex-end;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 90%;
    height: 90%;
    width: 250px;
    height: 250px;
    .intro {
        #name {
          margin-bottom: 0px;
        }
        #title {
          font-size: 18px;
        }
        p {
          font-size: 10px;
        }  
    }
  }

  figure {
    grid-row: 3 / 4;
    grid-column: 1 / 2;

    .position-2  {
      width: 80%;
      justify-content: center;

      #terminal-app {
        width: 250px;
      }
    }
  }

  footer {
    grid-row: 4 / 5;
    grid-column: 1 / 2;

    .other-links {
      margin-left: 10px;
        img {
          display: inline-block;
          width: 25px;
          height: auto;
          margin-right: 10px;
        }
      }

    .portfolio-link a {
      font-size: 13px;
      margin-right: 10px;
      
    }

  }

  
   header img {
    margin: 20px;
    width: 80px;
    height: auto;
    position: fixed;
  }

}