body {
  margin: 0px;
  overflow-x: hidden; 
  overflow-y: hidden;
}

.container {
  
  width: 100vw;
  height:100vh;
  background-color: rgb(238, 190, 101); 
  display: flex;

}

.grid {
  width: 100%;
  height:100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 0.2fr;
}

header {
  width: 100%;
  height:100%;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  background-color: rgb(231, 124, 142);
  
  
  
  img {
    margin: 20px;
    width: 150px;
    height: auto;
    position: fixed;
  }

}

section {

  width: 100%;
  height:100%;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: rgb(224, 80, 80); 

  .intro {
    margin: 0px auto;
  }
  
}

figure {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 100%;
  height:100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  .border {
    margin: 0px auto;
  }

  

  img {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 2px solid red;
  }
}



footer {
  width: 100%;
  height:100%;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
   background-color: rgb(231, 124, 142);

  a {
    text-decoration: none;
    color:rgb(34, 128, 104);
    font-size: 25px;
    font-weight: bold;
    margin-right: 70px;  
  }
}

@media screen and (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1.5fr 0.2fr;
    justify-items: center;
    

    figure {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      justify-items: center;
      
      
      .border {
        display: flex;
        justify-content: center;

        img {
            width: auto ;
            max-width: 70% ;
            height: auto ;
           
          }
      }
    }

    section {
      width: 80%;
      height: 100%;
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }

    footer {
      grid-row: 4 / 5;
      grid-column: 1 / 2;

    }

  }
   header img {
    margin: 20px;
    width: 80px;
    height: auto;
    position: fixed;
  }

  footer a {
    font-size: 15px;
    margin-right: 20px;
  }
  

}