
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  padding: 8px;
  position: absolute;
  text-align: center;
  z-index: 1;
  width: 220px;
  height: 200px;
  top: 110%;
  left: -50%;
}


/* Toggle this class - hide and show the popup */
  .popuptext.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

/* Add animation (fade in the popup) */

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

