
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  padding: 8px;
  position: absolute;
  text-align: center;
  z-index: 1;
  width: 200px;
  height: 200px;
  top: 130%;
  left: -20%;
}

@media screen and (min-width: 551px) {
  .popup .popuptext {
    width: 200px;
    height: 260px;
    top: 110%;
    left: -14%;
  }

}



/* Toggle this class - hide and show the popup */
  .popuptext.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

