
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  background-color: rgba(255, 192, 203);
  color: rgb(243, 6, 6);
  box-shadow: 9px 7px 7px 0px rgba(222,16,112,1);
  border-radius: 16px;
  padding: 8px;
  position: absolute;
  text-align: center;
  z-index: 1;
}

@media screen and (min-width: 551px) {
  .popup .popuptext {
    width: 80%;
    height: 300px;
    top: 110%;
    left: -14%;
  }

}



/* Toggle this class - hide and show the popup */
  .popuptext.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

