body {
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #5c8eeb;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 0.5fr 0.3fr;
  align-items: flex-end;
}

header {
  width: 100%;
  height: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: rgba(255, 192, 203, 0.8);
}
header h3 {
  margin-top: 30px;
  margin-left: 30px;
}

footer {
  width: 100%;
  height: 100%;
  background-color: white;
  grid-row: 4/5;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer a {
  text-decoration: none;
  color: cadetblue;
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
}

.grid, header {
  background-color: rgba(70, 151, 70, 0.9);
}

footer {
  background-color: white;
}

section {
  margin: 0px auto;
  grid-row: 2/4;
  grid-column: 1/2;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
section .terminal-app, section .personal-portfolio, section .dme-plant {
  width: 100%;
  height: 100%;
  background-color: rgba(230, 235, 229, 0.582);
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.3fr;
  justify-items: center;
  border: 2px solid #e6cf6b;
  box-shadow: 10px 10px 7px 0px #adbf9d;
  border-radius: 5px;
}
section .terminal-app figure, section .personal-portfolio figure, section .dme-plant figure {
  grid-column: 1/2;
  grid-row: 1/2;
}
section .terminal-app figure img, section .personal-portfolio figure img, section .dme-plant figure img {
  width: 100%;
  height: auto;
  margin: 0px auto;
  box-shadow: 10px 10px 7px 0px #e0b667;
}
section .terminal-app p, section .personal-portfolio p, section .dme-plant p {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 85%;
  height: 100%;
  margin: 10px auto;
}
section .terminal-app a, section .personal-portfolio a, section .dme-plant a {
  width: 10%;
  height: 70%;
  grid-column: 1/2;
  grid-row: 3/4;
  margin-left: 80%;
}
section .terminal-app #github-logo, section .terminal-app #portfolio, section .terminal-app #barrel, section .personal-portfolio #github-logo, section .personal-portfolio #portfolio, section .personal-portfolio #barrel, section .dme-plant #github-logo, section .dme-plant #portfolio, section .dme-plant #barrel {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
section .terminal-app #barrel, section .personal-portfolio #barrel, section .dme-plant #barrel {
  margin-bottom: 15px;
}
section .terminal-app #github-logo, section .personal-portfolio #github-logo, section .dme-plant #github-logo {
  margin-top: 15px;
}

@media screen and (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 1.5fr 0.3fr;
  }

  section {
    width: 20%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  section .terminal-app {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  section .personal-portfolio {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  section .dme-plant {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}

/*# sourceMappingURL=project.css.map */
