@import "frame.scss";

.container {
  background-color: rgb(156, 218, 156);
}
.grid {
  align-items: center;
  grid-template-rows: 1fr 2fr 2fr 0.6fr;
}

section {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  width: 90%;
  height: 90%;
  margin: auto auto;
  display: flex;
  justify-content: space-between;

  .terminal-app, .personal-portfolio, .dme-plant {
    background-color: rgba(194, 206, 200, 0.7);
    border: 2px dotted pink;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    justify-items: center;

    figure {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      
      img {
        width: 100%;
        height: auto;
      }
      
    }

  p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 85%;
    height: 100%;
    margin: 0px auto;

  }

  i{
    width: 20%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-left: 80%;
  }
}
}

#github-logo {
  width: 10%;
  height: auto;
  margin-left: 80%;
}