@import "frame.scss";

 .grid{
  // background: conic-gradient(from 0.75turn at 10% 13%, green, 10deg, forestgreen, 350deg, aquamarine);

  background-image: url(./photos/big-sunset.jpg);
}


footer, header {
  background-color: transparent;
}

.portfolio-pic img {
  width: 300px;
  height: auto;
}

.dme-pic img {
  width: 200px;
  height: auto;
}

.terminal-pic img {
  width: 350px;
  height: auto;
}

.terminal-pic img:hover {
  transform: scale(2.5); 
  margin-left: 100px;
  box-shadow: none;
}


#barrel {
  margin-bottom: 15px;
}

section {
  margin: 0px auto;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: space-around;

  .terminal-app, .personal-portfolio, .dme-plant {
    width: 100%;
    height: 80%;
    background-color: rgba(230, 235, 229, 0.582);
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    justify-items: center;
    border: 2px solid rgb(230, 207, 107);
    box-shadow: 10px 10px 7px 0px rgba(173,191,157,1);
    border-radius: 5px;

    figure {
      grid-column: 1 / 2;
      grid-row: 1 / 2; 

    img {
          margin-top: 10px;
          box-shadow: 6px 6px 7px 0px rgba(224,182,103,1);

    }
  }




    article {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: 85%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      h3 {
        margin: 0px;
        text-align: center;
      }

    }

    a {
      width: 10%;
      height: 70%;
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin-left: 80%;
    }


    #github-logo, #portfolio, #barrel{
      width: 100%;
      height: auto;
      margin-top: 10px;
      border: 2px solid rgb(90, 83, 83);
      border-radius: 30px;
    }
    
    #github-logo {
      margin-top: 15px;
    }  
  }
}

#github-logo:hover, #portfolio:hover, #barrel:hover {
  background-color: rgba(50, 123, 136, 0.61);
}



@media screen and (max-width: 1400px) {
  @import "projects-responsive.scss";
    .grid{
      background: conic-gradient(from 0.25turn at 20% 7%, green, 10deg, forestgreen, 350deg, aquamarine);
    } 
  section{

    .terminal-app, .personal-portfolio, .dme-plant {
      box-shadow: 6px 6px 6px 0px rgba(173,191,157,1);
      
      figure img {
        margin-top: 0px;
        box-shadow: 5px 5px 5px 0px rgba(224,182,103,1);
      }
    }
  } 
    .personal-portfolio img, .terminal-app img {
      height: 160px;
      width: auto;
    }

    .portfolio-pic img {
      width: auto;
      height: 160px;
    }

    .dme-pic img {
      width: auto;
      height: 160px;
    }

    .terminal-pic img {
      width: 280px;
      height: auto;
    }

    .terminal-pic img:hover {
      transform: scale(2); 
    }

    img #barrel {
      margin-bottom: 25px;
    }
  
  header img {
    margin: 20px;
    width: 150px;
    height: auto;
    position: fixed;
  }

  footer {
    .other-links {
      margin-left: 10px;
        img {
          display: inline-block;
          width: 20px;
          height: auto;
          margin-right: 10px;
        }
    }

    .portfolio-link a {
        font-size: 18px;
        margin-right: 10px;
    }
  }

}

@media screen and (max-width: 550px) {
  @import "projects-responsive.scss";

  .grid {
    grid-template-rows: 0.2fr 1fr 1.5fr 0.2fr;
  }

  .terminal-app img {
    width: 130px;
    height: auto;
  }
  .personal-portfolio img {
    height: 100px;
    width: auto;
  }

  #barrel {
    margin-bottom: 25px;
  }

  .dme-pic #dme {
      margin-bottom: 0px;
  }

  article {
    justify-content: flex-start;
    h3 {
      font-size: 10px;
    }
    p {
      font-size: 8px;
    }
  }

  footer {
    .other-links {
      margin-left: 10px;
        img {
          display: inline-block;
          width: 25px;
          height: auto;
          margin-right: 10px;
        }
    }

    .portfolio-link a {
        font-size: 13px;
        margin-right: 10px;
    }
  }
  
}

@media screen and (max-width: 350px) {
  @import "projects-responsive.scss";
  body {
    font-size: 10px;
  }

  img {
    width: auto ;
    max-width: 100% ;
    height: auto ;
  }

  #dme {
    height: 120px;
  }

}
