@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

@import "frame.scss";

 

.portfolio-pic img {
  width: auto;
  height: 150px;
  filter: opacity(0.8);
}

.dme-pic img {
  width: auto;
  height: 190px;
  filter: opacity(0.5);

}

.terminal-pic img {
  width: auto;
  height: 150px;
  filter: opacity(0.8);

}

#barrel {
  margin-bottom: 15px;
}



.grid {
  width: 100%;
  height:100%;
}

header {
  grid-row: 1 / 3;
  width: 90%;
  height: 100%;
  z-index: 2;
  background-color: transparent;
  
  #portfolio-link {
    margin-top: 100px;
    margin-right: 80px;
    flex-direction: column;
    a {   
      justify-content: space-evenly;
      margin-top: 40px; 
    }   
  }
}

.title-block {
  width: 83%;
  height:90%;
  grid-row: 3 / 5;
  grid-column: 1 / 2;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  color:rgba(209, 202, 208, 1);  
}



section {
  width: 90%;
  height:90%;
  grid-row: 1 / 4;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
 
  

  .terminal-app {
    background-color:rgba(243, 235, 230, 1);
  }

  .personal-portfolio {
    background-color: rgba(201, 173, 167, 1);
  }

  .dme-plant {
    background-color: rgba(209, 202, 208, 1);
  }

  .terminal-app, .personal-portfolio, .dme-plant {
    width: 25%;
    height:80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    justify-items: center;
    z-index: 2;
    


    figure {
      grid-column: 1 / 2;
      grid-row: 1 / 2; 

    img {
          margin-top: 10px;

    }
  }

    article {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: justify;

      h3 {
        margin: 0px;
        text-align: center;
      }

    }

    a {
      width: 10%;
      height: 70%;
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin-left: 80%;
    }


    #github-logo, #portfolio, #barrel{
      width: 100%;
      height: auto;
      margin-top: 10px;
      border: 1px solid rgb(90, 83, 83);
      border-radius: 30px;
      filter: opacity(0.5);
      
    }
    
    #github-logo {
      border: 1px solid  rgb(90, 83, 83);
      padding: 3px;
      filter: opacity(0.2);

    }  
  }
}

#github-logo:hover, #portfolio:hover, #barrel:hover {
  background-color: rgb(128, 123, 123);
}



@media screen and (max-width: 1200px) {
  @import "projects-responsive.scss";
    
  section{

    .terminal-app, .personal-portfolio, .dme-plant {
      
      figure img {
        margin-top: 0px;
      }
    }
  } 
    .personal-portfolio img, .terminal-app img {
      height: 160px;
      width: auto;
    }

    .portfolio-pic img {
      width: auto;
      height: 160px;
    }

    .dme-pic img {
      width: auto;
      height: 160px;
    }

    .terminal-pic img {
      width: 280px;
      height: auto;
    }

    img #barrel {
      margin-bottom: 25px;
    }
}

@media screen and (max-width: 600px) {
  @import "projects-responsive.scss";

  .grid {
    grid-template-rows: 0.3fr 0.2fr 0.9fr 1.5fr 0.2fr;
  } 
  
  .title-block{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100px;
    height: 30px;
    margin-top: 280px;
    z-index: 2;
    margin-right: 200px;
    opacity: 0.5;
  }

  .terminal-app img {
    width: 150px;
    height: auto;
  }
  .personal-portfolio img {
    height: auto;
    width: 150px;
  }

  #barrel {
    margin-bottom: 25px;
  }

  .dme-pic #dme {
      margin-bottom: 0px;
  }

  #github-logo, #portfolio, #barrel{
    margin-right: 20px;
  }


  

  

  article {
    justify-content: flex-start;
    h3 {
      font-size: 10px;
    }
    p {
      font-size: 8px;
    }
  }
  
}

