body {
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #5c8eeb;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 0.5fr 0.3fr;
  align-items: flex-end;
}

header {
  width: 100%;
  height: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: rgba(255, 192, 203, 0.8);
}
header h3 {
  margin-top: 30px;
  margin-left: 30px;
}

footer {
  width: 100%;
  height: 100%;
  background-color: white;
  grid-row: 4/5;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer a {
  text-decoration: none;
  color: cadetblue;
  font-size: 18px;
  font-weight: bold;
  margin-right: 30px;
}

.container {
  background-color: pink;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
}

section {
  grid-row: 2/4;
  grid-column: 1/2;
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin: 0px auto;
  background-color: rgba(245, 210, 169, 0.884);
  border: 2px solid #ff7657;
  border-radius: 70px;
  box-shadow: 9px 7px 7px 0px #de1070;
}
section .skills {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0px auto;
}
section .icons {
  grid-column: 2/4;
  grid-row: 1/2;
  display: flex;
  justify-content: space-evenly;
  /* The actual popup */
  /* Toggle this class - hide and show the popup */
  /* Add animation (fade in the popup) */
}
section .icons .popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
section .icons .popup .popuptext {
  visibility: hidden;
  width: 115%;
  height: 150%;
  background-color: pink;
  color: #f30606;
  box-shadow: 9px 7px 7px 0px #de1070;
  border-radius: 16px;
  padding: 8px;
  position: absolute;
  text-align: center;
  z-index: 1;
  top: 130%;
  left: -40%;
}
section .icons .popuptext.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section .icons .ruby, section .icons .css, section .icons .html, section .icons .ig {
  width: 30%;
  height: auto;
  margin: 10%;
  padding: 5px;
  border-radius: 30%;
  border: 2px solid #ec913c;
}
section .icons .ig {
  padding: 5px;
}
section .icons .ruby:hover {
  background-color: red;
}
section .icons .css:hover {
  background: conic-gradient(red 120deg, green 120deg 240deg, blue 240deg 360deg);
}
section .icons .html:hover {
  background: conic-gradient(grey 180deg, wheat 180deg 360deg);
}
section .icons .ig:hover {
  background: conic-gradient(from 0.3turn at 50% 50%, orange, 50deg, yellow, 100deg, purple, 250deg, yellow);
}
section article {
  width: 60%;
  height: 90%;
  grid-column: 1/4;
  grid-row: 2/3;
  margin: 0px auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
section article p {
  font-size: 20px;
}

/*# sourceMappingURL=skills.css.map */
