@import "frame.scss";

.container {
  
  background-color: rgba(255, 192, 203);
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
}

section {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin: 0px auto;
  background-color: rgba(245, 210, 169, 0.884);
  border: 2px solid rgba(255,118,87,1);
  border-radius: 70px;
  box-shadow: 9px 7px 7px 0px rgba(222,16,112,1);
  
 .skills {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0px auto;
  }

  .icons {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-evenly;

    @import "popup-text.scss";

    .ruby, .css, .html, .ig{
    width: 30%;
    height: auto;
    margin: 10%;
    padding: 5px;
    border-radius: 30%;
    border: 2px solid rgb(236, 145, 60);
  
    }

    .ig{
      padding: 5px;
    } 
    
    .ruby:hover {
      background-color: red;
    }
    .css:hover {
      background: conic-gradient( 
     red 120deg, green 120deg 240deg, blue 240deg 360deg);
    }
    .html:hover {
      background: conic-gradient( 
     grey 180deg, wheat 180deg 360deg);
    }

    .ig:hover {
      background: conic-gradient(from 0.30turn at 50% 50%, orange, 50deg, yellow, 100deg, purple, 250deg, yellow);
    }

  }

  article {
    width: 60%;
    height: 90%;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin: 0px auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;


    p {
      font-size: 20px;
    }
  }
}


@media screen and (max-width: 550px) {
  .grid {
     grid-template-rows: 0.2fr 1fr 0.5fr 0.2fr;
  }
  section {
    height: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.8fr 0.3fr;
    align-items: flex-start;

    .skills {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      margin-top: 15%;
      text-align: end;
      font-size: 20px;
    }
    .icons {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      align-content: flex-start;
    }
    article {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }

    .popup .popuptext {
      margin-top: 30%;
      margin-left: 5%;
    }
  }

  footer a, #text {
  font-size: 15px;
  }
}





